<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="center_brand" class="navbar-brand center" href="index.html">SONR
    <i class="fab fa-servicestack"></i>
  </a>
</nav>
<div class="container-fluid">
<div class="row">
  <div class="offset-lg-4 col-lg-4 col-md-6 offset-md-3 col-xs-12">
  <requests-page *ngIf="page == 'requests'"></requests-page> 
  <home-page *ngIf="page == 'home'" (selectPerson)="setPage($event)"> </home-page>
  <profile-page *ngIf="page == 'profile'"> </profile-page>
  <actions-page *ngIf="page == 'actions'" (selectAction)="setPage($event)"> </actions-page>
  <ask-page *ngIf="page == 'ask'" > </ask-page>
</div>
</div>

  <ul id="nav_bottom" class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a (click)="setPage('profile')" class="nav-link {{page == 'profile' ? 'active' : ''}}">
        <i class="fas fa-user fa-lg"></i>
      </a>
    </li>
    <li class="nav-item">
      <a (click)="setPage('home')"  class="nav-link {{page == 'home' ? 'active' : ''}}">
        <i class="fas fa-home fa-lg"></i>
      </a>
    </li>
    <li class="nav-item">
      <a (click)="setPage('requests')" class="nav-link {{page == 'requests' ? 'active' : ''}}">
        <i class="fas fa-envelope fa-lg"></i>
      </a>
    </li>
  </ul>
</div>