<div class="row">
    <div class="col">
        <h1>Brandon Buchanan</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-6">
        <a (click)="onSelectAction('ask')">
            <div class="action-block">
                <i class="fas fa-utensils fa-3x"></i>
            </div>
        </a>
    </div>
    <div class="col-6">
        <a (click)="onSelectAction('ask')">
            <div class="action-block">
                <i class="fas fa-bicycle fa-3x"></i>
            </div>
        </a>
    </div>
    <div class="col-6">
        <a (click)="onSelectAction('ask')">
            <div class="action-block">
                <i class="fas fa-chess-rook fa-3x"></i>
            </div>
        </a>
    </div>
    <div class="col-6">
        <a (click)="onSelectAction('ask')">
            <div class="action-block">
                <i class="fas fa-basketball-ball fa-3x"></i>
            </div>
        </a>
    </div>
</div>