
.action-block {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 1em;
    margin-top: 1em;
}

.action-block:hover {
    background-color: #eeeeee;
}

a.confirm-btn {
    width: 100%;
    margin: 20px auto;
    color: #ffffff;
}

#nav_bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

}

.list-people {
    margin-top: 2em;
}

.list-activities {
    max-height: 17em;
    overflow: scroll;
    margin-top: 1em;
}

.navbar-brand {
    width: 100%;
    text-align: center;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    font-size: 1.7em;
}

h1 {
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.profile-btn {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.splash {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    font-size: 3em;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    padding-top: 7em;
}

.img-person {
    border-radius: 50%;
}

#people {
    max-height: 25em;
    overflow: scroll;
}

.people-item {
    min-height: 100px;
}

@media only screen and (min-width: 768px) {
    .list-activities {
        max-height: 30em;
        overflow: scroll;
        margin-top: 1em;
    }

    .nav-bottom {
        top:70;
        left:0;
        right: 0;
    }
}