<div class="container-fluid">

  <requests-page *ngIf="page == 'requests'"></requests-page> 
  <home-page *ngIf="page == 'home'" (selectPerson)="setPage($event)"> </home-page>
  <profile-page *ngIf="page == 'profile'"> </profile-page>
  <actions-page *ngIf="page == 'actions'" (selectAction)="setPage($event)"> </actions-page>
  <ask-page *ngIf="page == 'ask'" > </ask-page>


  <ul id="nav_bottom" class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a (click)="setPage('profile')" class="nav-link {{page == 'profile' ? 'active' : ''}}">
        <i class="fas fa-user fa-lg"></i>
      </a>
    </li>
    <li class="nav-item">
      <a (click)="setPage('home')"  class="nav-link {{page == 'home' ? 'active' : ''}}">
        <i class="fas fa-home fa-lg"></i>
      </a>
    </li>
    <li class="nav-item">
      <a (click)="setPage('requests')" class="nav-link">
        <i class="fas fa-envelope fa-lg {{page == 'home' ? 'requests' : ''}}"></i>
      </a>
    </li>
  </ul>
</div>