<div class="row">
    <div class="offset-lg-4 col-lg-4 col-md-6 offset-md-3 col-xs-12">
        <div class="row">
            <div class="col">
                <h1>Change your profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr />
                <h3>Choose your activities</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul id="activity_list" class="list-group list-activities">
                    <li *ngFor="let activity of activities" class="list-group-item"> <i class="fas fa-{{ activity.icon }}"></i> {{ activity.name }}</li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <hr />
                <form>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Opt in?</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div class="profile-btn btn btn-success">Save</div>
            </div>
        </div>
    </div>
</div>