<div class="row">
    <div class="col">
        <h1>Requests.</h1>
    </div>
</div>

<ul id="people" class="list-group list-people">
    <li *ngFor="let hero of heroes" class="people-item list-group-item d-flex justify-content-between align-items-center">
        <!-- <img class="img-fluid img-person" src="https://loremflickr.com/75/75" /> -->
        <span class="request-message">
            <a class="request-message-name"> {{ hero.firstName }} </a>
            <br/>
            <a class="request-message-activity"> {{hero.message}} </a>
        </span>
        <span>
            <button class="btn btn-primary request-message-btn" type="button">
                <i class="fas fa-check"></i>
            </button>
            <button class="btn btn-danger request-message-btn" type="button">
                <i class="fas fa-times"></i>
            </button>
        </span>
    </li>
</ul>